<script src="/public/javascript/script.js"></script>
<script src="/public/javascript/register.js"></script>
<script src="/public/javascript/login.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/javascript/axios.js"></script>
</body>