<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="public/css/style.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </head>
    <body> 
            <nav class="navbar navbar-default bg-light">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#">Ghost Cat</a>
                      </div>
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Personal</a></li>
                        <li><a href="#">Work</a></li>
                        <li><a href="#">YouTube Videos</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="/signin">Sign In</a></li>
                      </ul>
                    </div>
                  </nav>
