<% include partials/header %>

<div class = "container-fluid">
    <div class ="row">
        <div class="col">
            <% bands.forEach(function(band) { %>
                <div>
                <h4><%= band.name %></h4>
                <button class="bandInfo">More Info</button>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<% include partials/footer %>
