<% include partials/header %>




<table>
    <% for(var i=0; i < bands.length; i++) { %>
       <tr>
         <td><%- bands[i].genre %></td>
         <td><%- bands[i].name %></td>
         <td><%- bands[i].description %></td>
       </tr>
    <% } %>
</table>



<% include partials/footer %>
