<% include partials/header %>

<h2>Contact Form</h2>
<form method="POST" action="send">
    <input type="text" name="name" placeholder="name"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="number" name="number" placeholder="number"><br>
    <input type="subject" name="subject" placeholder="subject"><br>
    <input type="submit" placeholder="submit">
</form>



<% include partials/footer %>
