<% include partials/header %>

<header class="dashboard">
        <div class="container-fluid h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
              <h1 class="font-weight-light">Book</h1>
            </div>
          </div>
        </div>
      </header>

<% include partials/footer %>
