<% include partials/header %>
<h2>Hey there <%= name %></h2>
<h2>User id <%= id %></h2>



<h3>Manage Bands</h3>
<a href="/logout" class="btn btn-secondary">Logout</a>




<% include partials/footer %>
