<% include partials/header %>

<header class="dashboard">
        <div class="container-fluid h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
              
                <form action="/api/v1/users/" method="POST" id="registerForm">
                  <input type="text" name="name">Name
                  <input type="email" name="email">Email
                  <input type="password" name="password">password
                  <input type="submit" value="OK">
              </form>
              </form>
            </div>
          </div>
        </div>
      </header>

<% include partials/footer %>
