<% include partials/header %>
<h2>Hey there <%= name %></h2>
<h2>User id <%= id %></h2>



<div class="row">
    <h3>Manage Bands</h3>
<% bands.forEach(function(band) { %>
    <div class="col">
    <h4><%= band.name %></h4>
    </div>
<% }); %>
</div>



<h3>Calendar</h3>
<a href="/logout" class="btn btn-secondary">Logout</a>




<% include partials/footer %>
