<% include partials/header %>



<header>
    <div class="hero-text-box">
        <div class="row">
            <div class="col">
                <h2>Find Bands. Book Events.</h2>
                <button>Search Bands Now</button>
            </div>        
        </div>
    </div>
</header>

<% include partials/footer %>