<% include partials/header %>


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Find Bands. Book Events.</h2>
            <form class="userRequest">
                <input type="text" name="band" placeholder="band" id="band">
                <input type="submit" name="submit" value="submit">
            </form>
        </div>        
    </div>
</div>

<% include partials/footer %>
