<% include partials/header %>



<header>
    <div class="hero-text-box">
        <div class="row">
            <div class="col">
                <h2>Find Bands. Book Events.</h2>
                <form class="userRequest">
                    <input type="text" name="band" id="band" placeholder="band">
                    <input type="submit">
                </form>
            </div>        
        </div>
    </div>
</header>

<% include partials/footer %>