<% include partials/header %>

<!-- Section: Navbar -->
<div>
    <nav class="blue lighten-5">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo left black-text">Minja.dev</a>
          <ul id="nav-mobile" class="right hide-on-small-and-down">
            <li><a href="#" class="black-text" id="projects">Projects</a></li>
            <li><a href="#" class="black-text" id="tech">Tech</a></li>
            <li><a href="#" class="black-text" id="contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>

<!-- Section: Header -->
<header class="main-header blue lighten-5">
  <div class="info container">
    <div class="row">
        <div class="col s6">
            Test
        </div>
        <div class="col s6">
          <div class="card">
            <section id="signup" class="section section-contact">
                <div class="container">
                    <div class="row">
                        <form id="contactForm">
                            <div class="col s12">
                                <h2>Sign Up</h2>
                                <div class="input-field">
                                    <input type="text" id="name" placeholder="Name">
                                </div>
                                <div class="input-field">
                                    <input type="email" id="email" placeholder="Email">
                                </div>
                                <div class="input-field">
                                    <input type="password" id="password" placeholder="Password">
                                </div>
                                <input type="submit" value="Submit" class="btn blue-grey">
                                <input type="submit" value="LogIn" class="btn blue">
                            </div>
                        </form>
                    </div>
                </div>
            </section>
          </div>
      </div>
    </div>
  </div>
</header>

<!-- Section: Tech -->
<section class="section section-about grey lighten-3 center" id="test">
  <div class="container">
    <h2>Tech Used</h2>
    <p class="flow-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt eum itaque similique illo omnis adipisci soluta voluptates fuga eaque quam.</p>
  </div>
</section>

<% include partials/footer %>
