<% include partials/header %>



<header>
    <div class="hero-text-box">
        <div class="row">
            <div class="col">
                <h2>INTRODUCING A NEW WAY TO CREATE ENTERTAINMENT</h2>
            </div>        
        </div>
    </div>
</header>

<% include partials/footer %>