<% include partials/header %>


<h2>Login Here</h2>                
<form method="POST" class="loginForm">
<input type="email" name="email" id="email">Email
<input type="password" name="password" id="password">password
<input type="submit" name="submit" value="submit">
</form>


<% include partials/footer %>
