<% include partials/header %>

<div class = "row">
    <div class="col">
        <h2>Hey there!</h2>
        <img src="/public/img/fabian-mardi-kVKz9qnJC-k-unsplash.jpg">
    </div>
</div>

<% include partials/footer %>