<% include partials/header %>


<h3>Hello, <%= user.name %></h3>

<div class="row">
    <% bands.forEach(function(band) { %>
        <div class="col">
        <h4><%= band.name %></h4>
        <img class="image-resize-thumbnail" src="/public/uploads/<%=band.photo %>">
        <p>
            <a href="/bands/<%= band._id %>" class="btn btn-primary">More Info</a>
        </p>
        </div>
    <% }); %>
</div>


<% include partials/footer %>
