<% include partials/header %>

<div class = "container-fluid">
    <div class ="row">
        <div class="col">
                <h4><%= bands.name %></h4>
        </div>
    </div>
</div>

<% include partials/footer %>
