<% include partials/header %>

<div class = "container-fluid">
    <div class ="row">
        <div class="col">
            <img class="image-resize-thumbnail" src="/public/uploads/<%=bands.photo %>">
            <h4 id="band-name"><%= bands.name %><h4>
            <h4 id="band-description"><%= bands.description %></h4>
            <h4 id=band-genre><%= bands.genre %></h4>
        </div>
        <button>Delete Band</button>
        <button><a href="/bands/update">Update Band</a></button>
        <button>Request Quotes</button>

    </div>
</div>

<% include partials/footer %>
