<% include partials/header %>


<section class="signup">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                Sign up
                <form>
                    <input type="name" placeholder="name">
                    <input type="password"placeholder="password">
                    <input type="submit" placeholder="submit">


                </form>
            </div>
        </div>
    </div>
</section>