* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    background-color: #fff;
    color:  #555;
  }
  
  .dashboard {
      height: 100vh;
      min-height: 500px;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #fdf6e3;
    }
  
    .navbar{
      margin-bottom: 0 !important;
  }
  